In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("C:/Users/omkar/Downloads/Heart.csv")
data.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [3]:
data.shape

(303, 15)

In [4]:
data.isnull()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
299,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
300,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
301,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
302,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [5]:
data.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [6]:
(data == 0).sum()

Unnamed: 0      0
Age             0
Sex            97
ChestPain       0
RestBP          0
Chol            0
Fbs           258
RestECG       151
MaxHR           0
ExAng         204
Oldpeak        99
Slope           0
Ca            176
Thal            0
AHD             0
dtype: int64

In [7]:
data["Age"].mean()

54.43894389438944

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x = data[["Age", "Sex", "ChestPain", "RestBP", "Chol"]]

In [10]:
train, test = train_test_split(x, test_size = 0.25, random_state = 1)

In [11]:
train

     Age  Sex     ChestPain  RestBP  Chol
170   70    1    nonanginal     160   269
192   43    1  asymptomatic     132   247
168   35    1  asymptomatic     126   282
42    71    0    nontypical     160   302
90    66    1  asymptomatic     120   302
..   ...  ...           ...     ...   ...
203   64    0    nonanginal     140   313
255   42    0    nonanginal     120   209
72    62    1  asymptomatic     120   267
235   54    1  asymptomatic     122   286
37    57    1  asymptomatic     150   276

[227 rows x 5 columns]

In [12]:
test

     Age  Sex     ChestPain  RestBP  Chol
204   43    1  asymptomatic     110   211
159   68    1    nonanginal     118   277
219   59    1  asymptomatic     138   271
174   64    1  asymptomatic     145   212
184   60    0  asymptomatic     158   305
..   ...  ...           ...     ...   ...
131   51    1    nonanginal      94   227
234   54    0    nonanginal     160   201
107   57    1    nonanginal     128   229
285   58    1  asymptomatic     114   318
17    54    1  asymptomatic     140   239

[76 rows x 5 columns]

In [13]:
# actual = np.concatenate((np.ones(50),np.zeros(450))

In [14]:
# predict = np.concatenate((np.ones(100), np.zeros(400)))

In [15]:
# from sklearn.metrics import ConfusionMatrixDisplay, accuracy_score, precision_score, recall_score, f1_score

In [16]:
# ConfusionMatrixDisplay.from_predictions(actual,predict)

In [17]:
# print(accuracy_score(actual, predict))
# print(precision_score(actual, predict))
# print(recall_score(actual, predict))
# print(f1_score(actual, predict))